.THIS #mapContainer {
	position: relative;
}
.THIS #addressDiv {
	width: 100%; opacity: 0.7; position: absolute; bottom: 0px;  
        z-index: 999; background-color: #c9e6f2; padding: 0px; text-align: center; font-size: 1em
}

.THIS #locateDiv {
	position: absolute; top: 0px; right: 0px; z-index: 999; padding: 3px; 
}

.THIS .hide {
    display: none;
}